/* секция наша команда */

.our-team {
  padding-top: 60px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-list {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.our-team-item {
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    width: calc(50% - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    margin: 15px;
  }
}

.our-team-item .image {
  width: 100%;
}

.our-team .item:nth-child(4n) {
  margin-right: 0%;
}

.our-team .title {
  margin-top: 30px;
  text-align: center;
}
.our-team .title-text {
  margin-top: 10px;
  text-align: center;
}

.title-text {
  margin-top: 0%;
}

/* абзац */

.our-team-title {
  margin-top: 0%;
  margin-bottom: 50px;
  font-weight: b700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.title {
  margin-top: 0%;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Абзаци */

.title-text {
  color: var(--primaty-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* иконки work-list */
.our-team-item {
  background-color: var(--primory-white-color);
}
.our-team .social-networks {
  display: flex;
  justify-content: center;
}

.networks-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.networks-link:hover,
.networks-link:focus {
  fill: var(--primory-white-color);
  background-color: var(--accent-color);
  transition-duration: 1s;
}
