:root {
  --primaty-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primory-white-color: #ffffff;
}

// $primary-text-color: #757575;
// $title-text-color: #212121;
// $primary-white-color: #ffffff;
// $logo-color: #2196f3;
// $cubic: cubic-bezier(0.4, 0, 0.2, 1);
// $time: 250ms;

// $mobile: 480px;
// $tablet: 768px;
// $desktop: 1200px;
